#main {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: var(--alignment);
    z-index: 1;
}
* {
    color: #E2AFDE;
    font-family: 'Arival' cursive;
}


body {
    width: 80%;
    margin: auto;
}

header {
    border: 5px solid #E2AFDE;
    background-color: #0C6291;
    margin-bottom: 10px;
    padding: 10px;

}

nav {
    border: 5px solid #E2AFDE;
    background-color: #03256C;
    margin-bottom: 10px;
    padding: 10px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
article {
    border: 5px solid #72DDF7;
    background-color: #03256C;
    margin-bottom: 10px;
    padding: 10px;
}
article img {
    max-width: 20%;
    text-wrap: wrap;
}
